<% if(kindofday==='Saturday' || kindofday==='Sunday'){ %>
    <h1 style="color: purple">It's <%= kindofday %> why are you working</h1>
<% } else{ %>
<h1 style="color: red">It's <%= kindofday %> why are you not working</h1>
<% } %>